# Object file
*.o

# Egg info
/*.egg-info

# Data files
/images
/container
/logs
/jobs
/experiments/data
/experiments/logs
dmatch/data/downloads
/experiments/MNIST/data
dmatch/data/slims
  
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Mac
.DS_Store

# PyCharm
/inspectionProfiles
/.idea
*.xml

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
*.eggs
*.egg-info
DREAM.*

# Django stuff:
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Singularity image
*.sif

# latex files
*.pdf
*.dvi
*.toc
*.aux
*.bbl
*.blg
*.log
*.out
*.bak
*.idx
*.ilg
*.ind
*.nav
*.snm
*.synctex.gz

# images
*.png


